* {
  font-family: sans-serif;
  margin: 0%;
  padding: 1px;
}
  
#logo {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro {
  text-align: center;
}

.intro .title{
  color: gray;
  font-style: normal;
  font-size: medium;
}

form {
  display: block;
  box-shadow: 1%;
  flex-direction: column;
}

#main-component{
  display:block;
  flex-direction: column;
}