* {
  font-family: sans-serif;
  margin: 0%;
  padding: 1px;
}
  
#logo {
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.intro {
  text-align: center;
}

.intro .title{
  color: gray;
  font-style: normal;
  font-size: medium;
}

form {
  display: block;
  box-shadow: 1%;
  flex-direction: column;
}

#main-component{
  display:block;
  flex-direction: column;
}

.footer {
  background-color: #f4f3f3;
  color: #fff;
  padding: 20px;
  text-align: center;
}

footer {
  height: 80px; /* Remplacez la valeur par celle que vous souhaitez */
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.presentation {
  text-size-adjust: auto;
}

.container {
  white-space: nowrap;
  
}

.block {
  display: inline-table;
  width: 24%;
  height: auto;
  background-color: #cccccc;
  margin-right: 10px;
  
}

.title {
  text-align: center;
  font-size: larger;
}